.cart-dropdown-container {
    position: absolute;
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 80px;
    right: 8px;
    z-index: 5;
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
  }

.close-cart {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0 0.2rem;
  margin: 0 0.1rem 1rem auto;

 &:hover {
  border: 1px solid black;
 }
}  